$white: #FFFFFF
$gray-text: #666
$green-text: #219653
$primary-yellow: #FCCC22
$primary-black: #303030
$primary-blue: #4688D8
$life_grey: #E1E1E1
$life-red: #D62E27
$life-green: #27AE60
$addition-grey: #A6A6A6

%no-select
	user-select: none

%font-global
	font-family: Tahoma, sans-serif
	font-style: normal
	font-weight: normal


.deal-thumb
	@extend %no-select
	@extend %font-global
	// box-sizing: border-box
	display: flex
	flex-direction: column
	justify-content: space-between
	align-items: flex-start
	padding: 0px
	margin: 20px 0
	width: 366px
	// height: 300px
	background: $white
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.35)
	border-radius: 6px 6px 0px 0px
	box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.35)

.deal-thumb[data-status = 'pending']
	background: #FBFBFB
	box-shadow: none !important
	border: 1px dashed #666666

.deal-thumb__base
	display: flex
	// width: 100%
	align-self: stretch
	flex: none
	flex-direction: column

.deal-thumb__base__status
	display: flex
	padding: 3px 3px 0px 10px
	margin: 0 0 8px 0
	width: calc(100% - 13px)
	height: 24px - 3

.deal-thumb__base__status__marker
	flex: 100%
	order: 0
	align-self: stretch
	flex-grow: 0
	padding: 3px 0px
	font-size: 10px
	line-height: 10px
	text-align: left

[data-status = 'sales_on']
	div.deal-thumb__base__status__marker
		color: $life-green

[data-status = 'sales_off']
	div.deal-thumb__base__status__marker
		color: #FEB40B

[data-status = 'pending']
	div.deal-thumb__base__status__marker
		color: $primary-black

	.deal-thumb__base__content__data__funnel
		opacity: 50%
		.daily
			display: none

.deal-thumb__base__status__marker::before
	content: '●'
	font-size: 14px
	line-height: 9px
	padding: 0 2px 0 0

.deal-thumb__base__status__top
	flex: none
	order: 1
	flex-grow: 0
	margin: 0px 0px
	height: 21px
	svg path
		fill: $primary-yellow

.deal-thumb__base__content
	flex: 1
	order: 1
	align-self: stretch
	flex-grow: 0
	margin: 0px 10px

.deal-thumb__base__content__title
	font-size: 14px
	display: block
	line-height: 17px
	color: $primary-black
	position: static
	height: 52px
	text-align: left
	padding-bottom: 10px
	border-bottom: 1px solid $life_grey

.deal-thumb__base__content__data
	flex: 1
	order: 2
	align-self: stretch
	// flex-grow: 0
	// margin: 0px
	flex-direction: row
	flex-wrap: nowrap
	margin: 10px 0

.deal-thumb__base__content__data__dates
	display: flex
	flex-direction: column
	align-items: flex-start
	// padding: 0px
	// align-self: flex-start
	flex: 1
	order: 1
	// flex-grow: 0
	width: 130px
	float: left
	// margin: 10px 0px
	// margin: 0

.deal-thumb__base__content__data__dates__id
	font-size: 14px
	line-height: 17px
	display: flex
	align-items: stretch
	color: $primary-blue
	span.demo
		color: $life-red

.base__content__data__dates__table
	display: flex
	flex-direction: row
	align-items: flex-start
	padding: 0px
	margin: 8px 0 0 0
	flex: none


.base__content__data__dates__table__keys
	display: flex
	flex-direction: column
	align-items: flex-start
	padding: 0px

	flex: none
	order: 0
	flex-grow: 0
	margin: 0px 8px 0px 0px

	font-size: 10px
	line-height: 13px
	color: $gray-text

.base__content__data__dates__table__values
	display: flex
	flex-direction: column
	align-items: stretch
	padding: 0px
	flex: none
	order: 1
	flex-grow: 0

	font-size: 11px
	line-height: 13px
	text-align: right
	color: $primary-black

.base__content__data__dates__table span
	padding-top: 12px
	align-self: stretch
	text-align: left

.base__content__data__dates__table span:first-child
	padding-top: 0

.base__content__data__dates__table__values span
	text-align: right

.deal-thumb__base__content__data__funnel
	display: flex
	flex-direction: column
	align-items: stretch
	// padding: 0px
	width: calc(100% - 146px)
	// position: static
	flex: 1
	// flex-grow: 1
	order: 0
	float: right

.deal-thumb__base__content__data__funnel__left-title
	font-family: Tahoma
	font-style: normal
	font-weight: normal
	font-size: 11px
	line-height: 13px
	text-align: left

	color: $addition-grey

	flex: none
	order: 0
	align-self: stretch
	flex-grow: 0
	margin: 2px 0

.deal-thumb__base__content__data__funnel__table
	display: flex
	flex-direction: column
	align-items: flex-start
	padding: 0px

	flex: 1
	order: 1
	align-self: stretch
	flex-grow: 0
	// margin: 0px 4px

.funnel__stair
	display: flex
	flex-direction: row
	align-items: center
	padding: 0 0 4px 0

	flex: none
	order: 0
	align-self: stretch
	flex-grow: 0
	// margin: 0px 4px

.stair__label
	display: flex
	flex-direction: row
	align-items: center
	padding: 0px 8px 0px 0px

.label__icon
	width: 16px
	height: 16px
	margin: 0 4px 0 0

	svg path
		fill: $addition-grey

.label__text
	font-size: 10px
	line-height: 12px
	color: $gray-text

.summary
	flex: none
	order: 1
	flex-grow: 1
	// margin: 4px 0px
	font-size: 18px
	line-height: 22px
	text-align: right
	color: $primary-blue

.daily
	display: flex
	flex-direction: row
	justify-content: flex-end
	align-items: center
	padding: 0px
	font-size: 12px
	line-height: 14px
	text-align: right
	flex: none
	order: 2
	flex-basis: 35px
	margin: 4px 0px
	color: $green-text

div.daily
	span.up
		color: $green-text
	span.down
		color: $life-red
	span.zero
		color: $gray-text

.daily.zero
	color: $gray-text

.daily.plus::before
	content: '+'

.actions
	display: flex
	flex-direction: row
	align-items: flex-start
	padding: 0px
	flex: 1
	order: 3
	align-self: stretch
	flex-grow: 0
	margin: 16px 0 0 0

	.button
		display: flex
		flex-direction: row
		justify-content: center
		align-items: center
		padding: 0px 10px
		height: 47px
		flex: 1
		flex-grow: 1
		margin: 0px 0px

		.button__icon
			// position: static
			width: 24px
			height: 24px
			flex: none
			flex-grow: 0
			margin: 0px 0px

		.label
			font-size: 12px
			line-height: 14px
			display: inline
			align-items: center
			text-align: center
			flex: none
			flex-grow: 1
			margin: 0px 0px

	.button.up-to-top
		order: 0
		background: $primary-yellow
		color: $primary-black
		svg path
			fill: $white

	.button.show-more
		order: 1
		background: $primary-blue
		color: $white
		svg path
			fill: $white

	.button.preview-on-site
		order: 2
		background: $gray-text
		color: $white
		text-transform: uppercase
		outline: 1px solid $gray-text
		svg path
			fill: $white
