input.coupon-activation__input, input.coupon-activation__input:focus {
  font-family: Courier New, monospace;
  outline: none;
  text-transform: uppercase;
  font-size: 24px;
  font-style: normal;
  font-weight:600;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #303030;
  height: 45px;
  vertical-align:middle;
	width: 132px;
	border-radius: 7px;
	background: #FFFFFF;
	border: 1px solid #A6A6A6;
	padding: 2px 16px 0 10px;
  margin:0 16px 0 0;
}

input.coupon-activation__input::placeholder {
 color: #E1E1E1;
}

div.coupon-activation {
 margin:10px;
	box-sizing: border-box;
	display: inline-table;
}

input.coupon-activation__input:focus {
	border: 1px solid #4688D8;
}

  .coupon-activation__button, .coupon-activation__button:focus {
    background:#4688D8;
    width:150px;
    color:#fff;
    padding:14px;
    display:inline-block;
    vertical-align:middle;
    border-radius:6px;
    border:1px solid #4688D8;
  }
  .none {
    background:#eee;
    color:#ccc;
    border:1px solid #ccc;
  }
